Checks: '-*,clang-analyzer-*,performance-*,portability-*,readability-*,-readability-magic-numbers,bugprone-*,misc-*,cppcoreguidelines-*,-cppcoreguidelines-pro-bounds-pointer-arithmetic,-cppcoreguidelines-pro-type-vararg,-cppcoreguidelines-pro-bounds-constant-array-index'
WarningsAsErrors: '*'
HeaderFilterRegex: '.*'
